@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  background: var(--firstbackground);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

:root {
  --firstbackground: #3a4663;
  --secondbackground: #e6e6e6;
  --thirdbackground: #17062a;
  --white: #ffffff;
}

/* Desktop Version */

body {
  justify-content: initial;
}

/* Header part */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 13rem;
  color: #fff;
}

h1 {
  font-size: 32px;
  letter-spacing: -0.533px;
}

.style-changer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.style-numbers {
  display: flex;
  flex-direction: row;
  margin-left: 7.5rem;
  gap: 1.4rem;
}

.style {
  color: --white;
  font-size: 12px;
}

.range {
  display: flex;
  flex-direction: row;
  gap: 2.6rem;
}

.theme {
  color: --white;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 1rem;
}

.slider {
  appearance: none;
  width: 61px;
  height: 26px;
  background: #242d44;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 13px;
  padding: 0px 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: var(--thumb-background-color, #d03f2f);
  border-radius: 50%;
}

/* Main part */

main {
  margin: 3.2rem 0;
}

.resulted-number {
  width: 327px;
  padding: 2.9rem 2.4rem 2.2rem;
  border: none;
  border-radius: 10px;
  background: #181f33;
  color: #fff;
  text-align: right;
  font-family: League Spartan, sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.667px;
  margin-bottom: 2.4rem;
}

.calculation {
  width: 327px;
  border-radius: 10px;
  background: #242d44;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.3rem;
  padding: 2.4rem;
}

.button {
  width: 60px;
  border-radius: 5px;
  background: #eae3dc;
  box-shadow: 0px -4px 0px 0px #b3a497 inset;
  border: none;
  padding: 1.3rem 1rem 1.1rem;
  color: #434a59;
  text-align: center;
  font-family: League Spartan, sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.533px;
}

.button:hover {
  background: #fffffe;
  box-shadow: 0px -4px 0px 0px #b3a497 inset;
}

.delete {
  border-radius: 5px;
  background: #647198;
  box-shadow: 0px -4px 0px 0px #414e73 inset;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  letter-spacing: -0.333px;
}

.delete:hover {
  background: #a2b2e1;
  box-shadow: 0px -4px 0px 0px #414e73 inset;
}

.last {
  width: 133px;
  height: 64px;
}

.reset {
  border-radius: 5px;
  background: #647198;
  box-shadow: 0px -4px 0px 0px #414e73 inset;
  color: #fff;
  text-align: center;
  font-family: League Spartan, sans-serif;
  font-size: 20px;
  letter-spacing: -0.333px;
  text-transform: uppercase;
}

.reset:hover {
  background: #a2b2e1;
  box-shadow: 0px -4px 0px 0px #414e73 inset;
}

.equal {
  border-radius: 5px;
  background: #d03f2f;
  box-shadow: 0px -4px 0px 0px #93261a inset;
  color: #fff;
  text-align: center;
  font-family: League Spartan, sans-serif;
  font-size: 20px;
  letter-spacing: -0.333px;
}

.equal:hover {
  background: #f96b5b;
  box-shadow: 0px -4px 0px 0px #93261a inset;
}

@media screen and (min-width: 950px) {
  /* header part */

  header {
    gap: 34.3rem;
  }

  .slider::-webkit-slider-thumb {
    cursor: pointer;
  }

  /* Main part */

  .resulted-number {
    width: 540px;
    padding: 4rem 0 3.6rem;
    font-size: 56px;
    letter-spacing: -0.933px;
  }

  .calculation {
    width: 540px;
    gap: 2.1rem;
    padding: 3.2rem;
  }

  .button {
    width: 101px;
    padding: 1.3rem 1rem 1.1rem;
    font-size: 40px;
    letter-spacing: -0.667px;
    cursor: pointer;
  }

  .delete {
    font-size: 28px;
  }

  .last {
    width: 227px;
    font-size: 28px;
  }
}

/*  */

.theme-2 button {
  background: red;
}

.theme-2 {
  background: ;
}
